@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Les damos la bienvenida a RestoQR</h1>
    <p>Para ver nuestro menu, hace <a asp-controller="Home" asp-action="Carta">click aqui</a></p>
</div>
