@model RestauranteQR.Models.Plato

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Plato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>

                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>

                <label asp-for="Ingrediente1" class="control-label"></label>
                @*<input asp-for="Ingrediente1" class="form-control" />*@
                </br>
                <select name="ingrediente">
                    <option value="">Seleccione el primer ingrediente</option>
                    for(int i = 0; i < Ingrediente.List(); i++){
                    @*<option value="@Ingrediente.toList(i)">@Ingrediente.toList(i)</option>*@
                    }

                    @*<option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>*@
                </select>
                <span asp-validation-for="Ingrediente1" class="text-danger"></span>
                </br>
                </br>

                <label asp-for="Ingrediente2" class="control-label"></label>
                @*<input asp-for="Ingrediente2" class="form-control" />*@
                <select name="number">
                    <option value="">Seleccione el segundo ingrediente</option>
                    <option value="1">A</option>
                    <option value="2">B</option>
                    <option value="3">C</option>
                </select>
                <span asp-validation-for="Ingrediente2" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
